* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #0f1424;
}

.container {
  width: 88%;
  margin: 2.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.menu-card {
  background-color: #1c1f4a;
  border-radius: 1.6rem;
}

.menu-card .card-report {
  background-color: #5847eb;
  border-radius: 1.6rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.8rem;
}

.menu-card .card-report img {
  width: 26%;
  max-width: 136px;
  border: 3px solid white;
  border-radius: 50%;
}

.menu-card .card-report .Report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.menu-card .card-report .Report p {
  color: #bdc1ff;
  font-size: 1.5rem;
}

.menu-card .card-report .Report .name {
  color: white;
  font-size: 2.43rem;
  font-weight: 200;
}

.menu-card .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.4rem;
}

.menu-card .menu .menu-links {
  color: #6f76c8;
  font-size: 1.8rem;
  cursor: pointer;
}

.menu-card .menu .menu-links:hover {
  color: white;
}

.menu-card .menu .menu-active {
  color: white;
}

.regular-card {
  border-radius: 1.6rem;
  padding-top: 1.8rem;
  background-repeat: no-repeat;
  background-position-x: 92%;
}

.regular-card .property-card {
  background-color: #1c1f4a;
  border-radius: 1.6rem;
  margin-top: 2rem;
  padding: 1.2rem;
}

.regular-card .property-card:hover {
  background-color: #33387a;
  cursor: pointer;
}

.regular-card .property-card .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
}

.regular-card .property-card .row .title {
  color: white;
  font-size: 1.8rem;
}

.regular-card .property-card .row .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regular-card .property-card .row .points:hover .point {
  background-color: white;
}

.regular-card .property-card .row .points .point {
  background-color: #bdc1ff;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin: 0.2rem;
}

.regular-card .property-card .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1.8rem;
}

.regular-card .property-card .row2 .short-term {
  color: white;
  font-size: 2.5rem;
}

.regular-card .property-card .row2 .long-term {
  color: #bdc1ff;
  font-size: 1.4rem;
}

.work {
  background-color: #ff8c66;
  background-image: url(../images/icon-work.svg);
}

.play {
  background-color: #56c2e6;
  background-image: url(../images/icon-play.svg);
}

.study {
  background-color: #ff5c7c;
  background-image: url(../images/icon-study.svg);
}

.exercise {
  background-color: #4acf81;
  background-image: url(../images/icon-exercise.svg);
}

.social {
  background-color: #7536d3;
  background-image: url(../images/icon-social.svg);
}

.self-Care {
  background-color: #f1c65b;
  background-image: url(../images/icon-self-care.svg);
}

.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  background-color: #5847eb;
  font-size: 18px;
}

.attribution a {
  color: #dbdbdb;
}

@media screen and (min-width: 570px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
  }
  .menu-card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .regular-card .property-card .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .regular-card .property-card .short-term {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 23% 23% 23% 23%;
        grid-template-columns: 23% 23% 23% 23%;
  }
  .menu-card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    grid-column: unset;
    height: 100%;
  }
  .menu-card .card-report {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 70%;
    padding: 3.5rem 3rem;
  }
  .menu-card .card-report img {
    width: 8, 4rem;
  }
  .menu-card .card-report .Report {
    margin-top: 1rem;
  }
  .menu-card .card-report .Report .name {
    font-size: 4rem;
  }
  .menu-card .menu {
    height: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .regular-card .property-card {
    margin-top: 4rem;
    padding: 2.8rem;
  }
  .regular-card .property-card .row2 .short-term {
    font-size: 5.5rem;
    padding-top: 1.9rem;
  }
  .regular-card .property-card .row2 .long-term {
    padding-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */